<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <nav>
        <header>
            <h1>HomeFix Now</h1>
        </header>
    </nav>

    <div class="cards">
        <article class="card">
            <div class="content"><p>Start as a</p></div>
            <button class="button-outline">Customer</button>
        </article>

        <article class="card">
            <div class="content"><p>Start as a</p></div>
            <button class="button-outline">Provider</button>
        </article>
    </div>
</body>

<footer>

</footer>

</html>